header {
    text-align: center;
    margin-bottom: 1cm;
    color: red;
}

ul {
    list-style: none;
}

.details {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.bulletin-details {
    border: 1px solid black;
    max-width: 40%;
}

.student-details {
    border: 1px solid black;
    max-width: 40%;
}