<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

<header>
    <h1> IEPSCF
        <span class="sub">Namur Cadets</span>
    </h1>
</header>
<main th:object="${bulletin}">
    <div class="subheader">
        <div class="details">
            <div class="bulletin-details">
                <ul>
                    <li>
                        <p>School year : </p>
                    </li>
                    <li>
                        <p th:text="*{dateGen}"></p>
                    </li>
                </ul>
            </div>
            <div class="student-details">
                <ul>
                    <li>
                        <p>Firstname : <span th:text="*{studentFirstName}"></span></p>
                    </li>
                    <li>
                        <p>Lastname : <span th:text="*{studentLastName}"></span></p>
                    </li>
                    <li>
                        <p>nb class : ${studentNbClasses}</p>
                    </li>
                    <li>
                        <p>nb abs : ${studentNbAbs}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <table cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>
                    <p class="matiere">Matière</p>
                </th>
                <th>
                    <p class="ptsEleve">Points Elève</p>
                </th>
                <th>
                    <p class="ptsClasse">Moyenne Classe</p>
                </th>
                <th>
                    <p class="other">Commentaire</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="classe : *{classes}">
                <td>
                    <p class="classe-name"><span th:text="${classe.name}" class="classe-name"></span></p>
                    <p class="classe-id"><span th:text="${classe.id}" class="classe-id"></span></p>
                    <p class="prof-title">Professeur : <span th:text="${classe.teacherFirstName}" class="teacher-firstname"></span> <span th:text="${classe.teacherLastName}" class="teacher-lastname"></span></p>

                </td>
                <td>
                    <p class="student-points" th:text="${classe.studentPoints}"></p>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            </tbody>

        </table>

    </div>
</main>


</body>
</html>